{% extends 'base.html' %}

{% block head %}
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-cadastro.css') }}">
    <title>Cadastro</title>
</head>
{% endblock %}

{% block body %}
<body>
    <div class="container"> 
        <div class="form-container"> 
            <h2>Sign in</h2> 
            <form method="POST" action="{{ url_for('register') }}" novalidate> 
                <div class="form-control"> 
                    <label for="reg-username">Username</label> 
                    <input type="text" id="reg-username" name="username" required> 
                </div> 
                <div class="form-control"> 
                    <label for="email">E-mail</label> 
                    <input type="email" id="email" name="email" required> 
                </div> 
                <div class="form-control"> 
                    <label for="reg-password">Password</label> 
                    <input type="password" id="reg-password" name="password" required> 
                </div> 
                <div class="form-control"> 
                    <label for="reg-password">Confirm your password</label> 
                    <input type="password" id="reg-password_confirm" name="password_confirm" required> 
                </div> 
                <div class="form-control"> 
                    <label for="dob">Date of Birth (dd-mm-yyyy)</label> 
                    <input type="date" id="dob" name="dob" required> 
                </div>
                <button type="submit" class="btn">Register</button> 
                <a href="{{ url_for('login') }}" class="btn-link">Back to login</a> 
            </form>
            <!--This block handles displaying flash messages from the backend. We pull in all flashed messages with their categories like 'success' or 'error').
            If there are messages, we loop through them and render each in a Bootstrap alert box. The alert style is dynamically set based on the message category (e.g., alert-success). -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} mt-3" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
        </div> 
        <div class="background-container"> 
            <img src="{{ url_for('static', filename='images/luva.png') }}" alt="Imagem de Fundo">
        </div>
    </div>
</body>
{% endblock %}